<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.fuzhuohang.dao.OrderDao">
    <select id="getOrder" resultType="Orders">
        SELECT * FROM orders
        WHERE Oid = #{oid};
    </select>

    <select id="getUserOrder" resultType="UserOrders">
        SELECT orders.Oid,orders.Pnum,orders.Time,orders.Money,orders.Total,product.Pname,product.Image,address.`Name`,address.Tel,address.Addr,business.Bname,orders.Uid,orders.Bid,orders.Pid
        FROM orders LEFT JOIN product ON orders.Pid = product.Pid LEFT JOIN address ON orders.Addrid = address.Addrid LEFT JOIN business ON orders.Bid = business.Bid
        WHERE orders.Oid = #{oid};
    </select>

    <select id="getOrderAll" resultType="UserOrders">
        SELECT orders.Oid,orders.Pnum,orders.Time,orders.Money,orders.Total,product.Pname,product.Image,address.`Name`,address.Tel,address.Addr,business.Bname,orders.Uid,orders.Bid,orders.Pid
        FROM orders LEFT JOIN product ON orders.Pid = product.Pid LEFT JOIN address ON orders.Addrid = address.Addrid LEFT JOIN business ON orders.Bid = business.Bid
        WHERE orders.Uid = #{uid} AND orders.Ostate != 0;
    </select>

    <select id="getOrderByState" resultType="UserOrders">
        SELECT orders.Oid,orders.Pnum,orders.Time,orders.Money,orders.Total,product.Pname,product.Image,address.`Name`,address.Tel,address.Addr,business.Bname
        FROM orders LEFT JOIN product ON orders.Pid = product.Pid LEFT JOIN address ON orders.Addrid = address.Addrid LEFT JOIN business ON orders.Bid = business.Bid
        WHERE orders.Uid = #{uid} AND orders.Ostate = #{ostate};
    </select>

    <select id="getBusinessOrderAll" resultType="BusinessOrders">
        SELECT orders.Oid,orders.Pnum,orders.Time,orders.Total,product.Pname,address.`Name`,address.Tel,address.Addr,user.Username
        FROM orders LEFT JOIN product ON orders.Pid = product.Pid LEFT JOIN address ON orders.Addrid = address.Addrid LEFT JOIN user ON orders.Uid = user.Uid
        WHERE orders.Bid = #{bid} AND orders.Ostate != 0;
    </select>

    <select id="getBusinessOrderByState" resultType="BusinessOrders">
        SELECT orders.Oid,orders.Pnum,orders.Time,orders.Total,product.Pname,address.`Name`,address.Tel,address.Addr,user.Username
        FROM orders LEFT JOIN product ON orders.Pid = product.Pid LEFT JOIN address ON orders.Addrid = address.Addrid LEFT JOIN user ON orders.Uid = user.Uid
        WHERE orders.Bid = #{bid} AND orders.Ostate = #{ostate};
    </select>

    <insert id="createOrder">
        INSERT INTO orders (Oid, Uid, Bid, Pid, Money, Ostate, Addrid, Time, Pnum, Total)
        VALUES (null, #{order.Uid},#{order.Bid},#{order.Pid},#{order.Money},#{order.Ostate},#{order.Addrid},#{order.Time},#{order.Pnum},#{order.Total});
    </insert>

    <update id="editOrder">
        UPDATE orders
        SET Pnum = #{order.Pnum},Total = #{order.Total}
        WHERE Oid = #{oid};
    </update>

    <update id="settleOrder">
        UPDATE orders
        SET Addrid = #{order.Addrid},Pnum = #{order.Pnum},Total = #{order.Total},Ostate = 1, Time = CURRENT_TIMESTAMP
        WHERE Oid = #{oid};
    </update>

    <update id="updateState">
        UPDATE orders
        SET Ostate = #{ostate}, Time = CURRENT_TIMESTAMP
        WHERE Oid = #{oid};
    </update>

    <delete id="deleteOrder">
        DELETE FROM orders
        WHERE Oid = #{oid};
    </delete>

    <select id="getCount" resultType="Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE Uid = #{uid} AND Ostate != 0;
    </select>

    <select id="getCountByState" resultType="Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE Uid = #{uid} AND Ostate = #{ostate};
    </select>

    <select id="getBusinessCount" resultType="Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE Bid = #{bid} AND Ostate != 0;
    </select>

    <select id="getBusinessCountByState" resultType="Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE Bid = #{bid} AND Ostate = #{ostate};
    </select>

</mapper>