<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.fuzhuohang.dao.ProductDao">
    <select id="getProductAll" resultType="Product">
        SELECT * FROM product;
    </select>

    <select id="getProductList" resultType="ProductBusiness">
        SELECT product.Pid,product.Pname,product.Price,product.Image,product.Csid,business.Bname,product.Bid
        FROM product LEFT JOIN business ON product.Bid = business.Bid;
    </select>

    <select id="getProductListByCateId" resultType="ProductBusiness">
        SELECT product.Pid,product.Pname,product.Price,product.Image,product.Csid,business.Bname,product.Bid
        FROM product LEFT JOIN business ON product.Bid = business.Bid LEFT JOIN categorysecond ON product.Csid = categorysecond.Csid
        WHERE categorysecond.Cateid = #{cateid};
    </select>

    <select id="getProductListByCsId" resultType="ProductBusiness">
        SELECT product.Pid,product.Pname,product.Price,product.Image,product.Csid,business.Bname,product.Bid
        FROM product LEFT JOIN business ON product.Bid = business.Bid
        WHERE Csid = #{csid};
    </select>

    <select id="getProductListByBusiness" resultType="Product">
        SELECT * FROM product
        WHERE Bid = #{bid};
    </select>

    <select id="getProductByName" resultType="Product">
        SELECT * FROM product
        WHERE Pname = #{pname};
    </select>

    <select id="getProductById" resultType="Product">
        SELECT * FROM product
        WHERE Pid = #{pid};
    </select>

    <insert id="addProduct">
        INSERT INTO product (Pid, Bid, Pname, Price, Pnum, Pdesc, Image, Csid)
        VALUES (null, #{product.Bid},#{product.Pname},#{product.Price},#{product.Pnum},#{product.Pdesc},#{product.Image},#{product.Csid});
    </insert>

    <update id="editProduct">
        UPDATE product
        SET Pname=#{product.Pname}, Price=#{product.Price}, Pnum=#{product.Pnum}, Pdesc=#{product.Pdesc}, Image=#{product.Image}, Csid=#{product.Csid}
        WHERE Pid = #{pid};
    </update>

    <update id="updateNum">
        UPDATE product
        SET Pnum = Pnum-#{pnum}
        WHERE Pid = #{pid};
    </update>

    <delete id="deleteProductByProduct">
        DELETE FROM product
        WHERE Pid = #{pid};
    </delete>

    <delete id="deleteProductByBusiness">
        DELETE FROM product
        WHERE Bid = #{bid};
    </delete>
</mapper>